:root {
  --logo-color: #e50914;
  --bg-color: #141414;
  --menu-color: #aaa;
}

/* reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Times New Roman', Times, serif;
}

header .container {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

header .logo {
  color: var(--logo-color);
  font-family: 'Arial Black';
  font-size: 2.5rem;
}
header nav a {
  text-decoration: none;
  color: var(--menu-color);
  margin-right: 10px;
}
